<div class="form-group nested-fields" id=Add-Technology>
  <%= form.label :name %>
  <%= form.text_field :name, class: 'form-control' %>
  <%= link_to_remove_nested(form, link_text: 'Remove Item') %>
</div>

