<div class="app-card-container"> 
  <div class="card">

    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 250, alt: "Profile Image" %>
      </div>
      <div class="col-md-8">
        <p>With a diverse background and variety of experiences, I bring a unique perspective to web development that focuses on teamwork and communication</p>
      </div>
    </div>
  </div>
</div>


