<div class="app-card-container"> 
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Address</h3>
        <p>11411 Lake Oak Dr, Montgomery, TX, 77356</p>

        <h3>Phone</h3>
        <p><%= number_to_phone "9365372399"%></p>

        <h3>Email</h3>
        <p><a href="mailto:stuartwilson94@gmail.com?subject=PortfolioContact" "Email me" >Email me</a></p>
      </div>
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3440.9902120416186!2d-95.65968672046036!3d30.408019581840822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86471f5836554113%3A0xf82dbc219fe57f5f!2s11411%20Lake%20Oak%20Dr%2C%20Montgomery%2C%20TX%2077356!5e0!3m2!1sen!2sus!4v1662934806853!5m2!1sen!2sus" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>
