<div class="inner cover">
  <h1 class="cover-heading">Welcome to my portfolio website.</h1>
  <p></p>
  <H5>This website contains a blog and details of various projects I have completed, as well as details about me.</h5>
	<h5>Please feel free to explore.</h5>
  <p></p>
  <h6 class="middle">You can log in as testing@test.com with password: password to view all of the hidden controls and forms that I use to add content on this site.</h6>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-outline-secondary" %>
  </p>
</div>
